@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300&family=Lato:wght@300&family=Mulish:wght@500&family=Poppins:wght@200&family=Roboto&display=swap');

$orange: #ec5242;
$white: #ffff;
$black: #272a31;
$grey: #d3d3d3;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-image: url(../Images/mobile-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  .social {
    width: 100%;
    display: none;
    background-color: $black;
    height: 50px;
    .social-container {
      display: flex;
      list-style: none;
      // float: right;
      .social-item {
        a {
          text-decoration: none;
          color: $orange;
        }
      }
    }
  }
  .navbar {
    width: 100%;
    position: absolute;
    top: 0;
    position: sticky;
    background-color: $white;
    padding-left: 5%;
    height: 60px;
    .menu {
      position: relative;
      cursor: pointer;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      .hamburger {
        position: absolute;
        width: 40px;
        height: 6px;
        background-color: rgba(0, 0, 0, 0.432);
        border-radius: 1px;
        transition: all 0.5s ease-in-out;
      }
      .hamburger::before,
      .hamburger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 6px;
        background-color: rgba(0, 0, 0, 0.432);
        border-radius: 1px;
        transition: all 0.5s ease-in-out;
      }
      .hamburger::before {
        transform: translateY(-8px);
      }
      .hamburger::after {
        transform: translateY(8px);
      }
    }
    .menu.open {
      .hamburger {
        background: transparent;
        box-shadow: none;
      }
      .hamburger::before {
        transform: rotate(45deg);
        transform: translate(35px -35px);
      }
      .hamburger::after {
        transform: rotate(-45deg);
        transform: translate(35px 35px);
      }
    }

    .list-container {
      display: block;
      width: 100%;
      list-style: none;
      z-index: 1000;
      transform: translateY(0);
      position: fixed;
      top: 60px;
      left: -100%;
      flex-direction: column;
      gap: 0;
      width: 100%;
      height: 100vh;
      text-align: center;
      transition: 0.3s;
      background-color: $white;
      list-style: none;
      .list-item {
        border-bottom: solid 1px #6f6c6b;
        padding-left: 20px;
        text-align: start;
        width: 95%;
        text-decoration: none;
        margin: 20px 0;
        a {
          text-decoration: none;
          color: rgba(23, 3, 3, 0.537);
        }
      }
    }
  }

  .section-1 {
    padding: 5%;
    .search {
      position: relative;
      input {
        width: 100%;
        height: 30px;
        margin-bottom: 10px;
        padding: 0;
        border-radius: 5px;
      }
      input::placeholder {
        padding: 10px;
      }
      .fa-search {
        position: absolute;
        color: $white;
        border-radius: 3px;
        height: 30px;
        padding: 5px;
        width: 30px;
        align-self: center;
        background-color: $orange;
        right: 0;
      }
    }
    .header-1 {
      margin-top: 20px;
      p {
        color: $orange;
        font-family: Inter, sans-serif;
        font-size: 30px;
        padding-bottom: 5px;
      }
      h1 {
        display: flex;
        flex-wrap: wrap;
        font-size: 40px;
        color: $orange;
        padding-bottom: 10px;
        background-image: url(../Images/header-bg.jpeg);
        background-position: bottom;
        background-clip: initial;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .article-1 {
      border: 2px wheat solid;
      padding: 3%;
    }
  }
  .products {
    padding: 5%;
    width: 100%;
    height: 100%;
    // background-color: $black;
    background-size: cover;
    background-image: url(../Images/program-bg.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h2 {
        color: $white;
        margin-bottom: 10px;
      }
      span {
        width: 50px;
        height: 2px;
        border-radius: 5px;
        background-color: $orange;
      }
    }
    .cards {
      margin: 3%;
      .card {
        display: grid;
        margin-bottom: 20px;
        grid-template-columns: 0.2fr 1fr 1fr;
        background-color: rgba(98, 98, 158, 0.385);
        padding: 10px;
        .fa-solid {
          color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        h2 {
          color: $orange;
          font-family: inter, sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        p {
          color: $white;
          font-family: lato, sans-serif;
        }
      }
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          padding: 30px;
          border: none;
          font-size: large;
          background-color: $orange;
          font-family: inter, sans-serif;
          color: $white;
          width: 50%;
          height: 100px;
        }
      }
    }
  }
  .feature {
    padding: 5%;
    width: 100%;
    height: 100%;
    background-color: $white;
    header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h2 {
        color: $black;
        margin-bottom: 10px;
        font-family: lato;
      }
      span {
        width: 50px;
        height: 2px;
        border-radius: 5px;
        background-color: $orange;
      }
    }
    .companies {
      .list-company {
        padding: 10px;
        width: 100%;
        border-radius: 3px;
        background-color: $white;
        height: min-content;
        display: flex;
        margin-top: 20px;
        img {
          width: 150px;
          margin-right: 5px;
        }
        div {
          display: flex;
          flex-direction: column;
          h3 {
            font-family: inter, sans-serif;
            margin-bottom: 5px;
            font-size: 30px;
          }
          h4 {
            font-family: lato, 'Gill Sans', 'Gill Sans MT', Calibri,
              'Trebuchet MS', sans-serif;
            margin-bottom: 5px;
            color: $orange;
          }
          span {
            margin-bottom: 5px;
            width: 30px;
            height: 3px;
            border-radius: 5px;
            background-color: rgba(10, 8, 8, 0.503);
          }
        }
      }
    }
  }

  .section-about {
    padding: 5%;
    .header-about {
      text-align: center;
      margin-top: 20px;
      p {
        color: $orange;
        font-size: 20px;
      }
      h1 {
        color: $orange;
        font-size: 30px;
        font-weight: bolder;
        font-family: sans-serif, lato;
      }
    }
    .article-1 {
      border: solid 1px grey;
      background-color: $white;
      padding: 10px;
    }
    .reach {
      text-align: center;
      margin: 20px 20px;
      span {
        color: $orange;
      }
    }
  }
  .logo {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        margin-top: 20px;
        width: 50%;
        height: auto;
      }
    }
    hr {
      width: 100%;
      margin-top: 30px;
      background-color: #6f6c6b;
    }
  }
  .partner {
    background-color: $black;
    padding: 5%;
    width: 100%;
    height: 100%;
    span {
      width: 50px;
      height: 2px;
      border-radius: 5px;
      background-color: $orange;
    }
    header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h2 {
        margin-bottom: 10px;
        color: $white;
        font-family: lato;
      }
    }
    .partners-grid {
      width: 100%;
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
      p {
        color: $grey;
        font-size: 30px;
        margin-top: 10px;
      }
      .row {
        grid-column: 1;
        padding-left: 30px;
        font-size: 60px;
      }
      .row-2 {
        grid-column: 3;
        font-size: 60px;
      }
    }
  }
  .footer {
    width: 100%;
    div {
      display: flex;
      padding: 5%;
      img {
        width: 50%;
      }
      P {
        font-size: 20px;
        color: $grey;
        font-family: inter, sans-serif;
      }
    }
  }
}
